@use "foundation/global";

// Component ボタン
//--------------------------------------------------------------------------

// ドロワーボタン
//-----------------------
.c-button-drawer {
  position: relative;
  width: 28px;
  height: 18px;
  z-index: 999;
  cursor: pointer;

  &__line {
    position: absolute;
    border-radius: 1px;
    height: 3px;
    width: 100%;
    background-color: global.$color-main;
    transition: transform 0.3s, background-color 0.3s;

    &:nth-last-of-type(1) {
      top: 0;
      left: 0;
      right: 0;
    }

    &:nth-last-of-type(2) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:nth-last-of-type(3) {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
//ドロワーアクティブ時
.c-button-drawer.is-active {

  .c-button-drawer__line {
    background-color: global.$color-text-white;

    &:nth-last-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &:nth-last-of-type(2) {
      display: none;
    }

    &:nth-last-of-type(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// 通常のボタン
//-----------------------
.c-button-primary {
  $this: &;
  display: inline-block;
  position: relative;
  border: 1px solid global.$color-main;
  border-radius: 24px;
  padding: 10px 40px;
  color: global.$color-main;
  @include global.fz(14);
  @include global.lh(1.4);
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;

  @include global.mq(md) {
    padding: 12px 46px;
  }

  &:hover {
    background-color: global.$color-main;
    color: global.$color-text-white;

    #{$this}__arrow {
      color: global.$color-text-white;
      transform: translate(3px, -50%);
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 12px;
    height: 12px;
    color: global.$color-main;
    transition: transform 0.3s, color 0.3s;
  }
}

// submitボタン
//-----------------------
.c-button-submit {
  display: inline-block;
  border: 1px solid global.$color-main;
  border-radius: 28px;
  max-width: 273px;
  width: 100%;
  padding: 9px 13px;
  color: global.$color-main;
  @include global.fz(14, 16);
  @include global.lh(1);
  white-space: nowrap;
  letter-spacing: 1.12px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: global.$color-main;
    color: global.$color-text-white;
  }

  @include global.mq(md) {
    max-width: 360px;
    padding: 18px 22px;
    letter-spacing: 1.28px;
  }
}

// フッターボタン
//-----------------------
.c-button-footer {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  max-width: 150px;
  width: 100%;
  padding: 10px 0;
  color: global.$color-text-white;
  background-color: global.$color-main;
  @include global.fz(14, 16);
  @include global.lh(1);
  white-space: nowrap;
  transition: background-color 0.3s;

  @include global.mq(md) {
    max-width: 220px;
    height: 56px;
  }

  &:hover {
    background-color: global.$color-sub01;
  } 

  &__icon {
    width: 25px;
    height: 20px;

    @include global.mq(md) {
      width: 28px;
      height: 24px;
    } 
  }

  &__text {
    margin-left: 8px;
  }
}

.c-button-footer--bg-white {
  border: 1px solid global.$color-main;
  background-color: global.$color-text-white;
  color: global.$color-main;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: global.$color-main;
    color: global.$color-text-white;
  } 
}

