@use "foundation/global";

// Component 予約
//--------------------------------------------------------------------------

.c-reserve {
  position: fixed;
  right: 0;
  top: 176px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
  border-radius: 20px 0 0 20px;
  width: 92px;
  height: 120px;
  padding: 0 17px;
  background-color: global.$color-main;
  color: global.$color-text-white;
  transition: background-color 0.3s;

  &:hover {
    background-color: global.$color-sub01;
  }

  &__text {
    margin-top: 12px;
    @include global.fz(14);
    @include global.lh(1.4);
    font-weight: 700;
  }
}

.c-reverse-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(global.$color-text-white, 0.85);

  &__tel-link {
    color: global.$color-main;
    @include global.fz(20);
    @include global.lh(1);
    font-weight: 700;
  }

  &__tel-svg {
    color: global.$color-main;
    width: 18px;
    height: 18px;
  }

  &__tel-text {
    @include global.fz(10);
    @include global.lh(1);
    text-align: center;
  }

  &__web {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 157px;
    height: 47px;
    margin-left: 12px;
    padding-left: 12px;
    background-color: global.$color-main;
    color: global.$color-text-white;
  }

  &__web-svg {
    width: 43.5px;
    height: 23.5px;
  }

  &__web-text {
    margin-left: 10px;
    @include global.fz(14);
    @include global.lh(1.2);
    font-weight: 700;
    text-align: center;
  }
}
