@use "foundation/global";

// Layout デコレーション
//--------------------------------------------------------------------------

.l-decoration {

  //上部
  &__top {
    width: 100%;
    height: 15.75vw;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%22201.656%22%20viewBox%3D%220%200%201280%20201.656%22%20width%3D%221280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23dff1fd%22%3E%3Cpath%20d%3D%22m740.746%20471.23c-72.33%208.177-121.326%2011.361-174.769%2011.361s-102.425-3.185-174.711-11.356c-133.613-15.167-257.506-5.428-348.792%2027.439-50.339%2018.126-89.564%2042.673-116.464%2072.25h1280c-26.9-29.576-66.115-54.122-116.448-72.245-91.277-32.871-215.191-42.6-348.816-27.449z%22%20transform%3D%22translate(73.99%20-369.268)%22%2F%3E%3Cpath%20d%3D%22m76.527%20127.472c1.464%205.046%206.787%2010.349%2011.833%2011.813l3.4.99c5.046%201.444%205.046%203.839%200%205.283l-3.4.99c-5.046%201.464-10.369%206.767-11.833%2011.813l-.989%203.423c-1.444%205.046-3.839%205.046-5.283%200l-.989-3.423c-1.445-5.046-6.767-10.349-11.813-11.813l-3.423-.99c-5.046-1.444-5.046-3.839%200-5.283l3.423-.99c5.046-1.464%2010.369-6.767%2011.813-11.813l.989-3.423c1.444-5.046%203.839-5.046%205.283%200z%22%20transform%3D%22translate(-28.244%20-17.245)%22%2F%3E%3Cpath%20d%3D%22m100.341%20130.024c2.988%2010.29%2013.832%2021.153%2024.121%2024.121l6.985%202c10.29%202.988%2010.29%207.856%200%2010.824l-6.985%202c-10.29%202.968-21.133%2013.832-24.121%2024.121l-2%206.965c-2.968%2010.309-7.836%2010.309-10.8%200l-2.018-6.965c-2.971-10.29-13.835-21.156-24.123-24.124l-6.965-2c-10.29-2.968-10.29-7.836%200-10.824l6.965-2c10.29-2.968%2021.153-13.832%2024.121-24.121l2.018-6.965c2.968-10.309%207.836-10.309%2010.8%200z%22%20transform%3D%22translate(8.591%20-104.765)%22%2F%3E%3Cpath%20d%3D%22m70.8%20124.445c-1.854%206.384-8.581%2013.124-14.965%2014.965l-4.335%201.24c-6.384%201.854-6.384%204.874%200%206.715l4.334%201.24c6.384%201.841%2013.111%208.581%2014.965%2014.965l1.24%204.321c1.842%206.4%204.862%206.4%206.7%200l1.261-4.321c1.842-6.384%208.581-13.124%2014.965-14.965l4.321-1.24c6.384-1.841%206.384-4.862%200-6.715l-4.321-1.24c-6.384-1.841-13.124-8.581-14.965-14.965l-1.252-4.321c-1.841-6.4-4.862-6.4-6.7%200z%22%20transform%3D%22translate(1137.928%20-53.218)%22%2F%3E%3Cpath%20d%3D%22m668.424%20583.866a10%2010%200%200%201%20-7.071-17.071%2029.844%2029.844%200%201%200%20-42.206%200%2010%2010%200%200%201%20-14.142%2014.143%2049.844%2049.844%200%201%201%2070.49%200%209.971%209.971%200%200%201%20-7.071%202.928z%22%20transform%3D%22translate(1.57%20-495.848)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    @include global.mq(md) {
      height: 15.70313vw;
    }
  }

  //中部
  &__body {
    position: relative;
    padding-top: 28px;
    padding-bottom: 96px;
    background-color: global.$color-sub02;

    &::before {
      content: "";
      position: absolute;
      left: 12px;
      bottom: 44px;
      width: 25px;
      height: 25px;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2257.356%22%20height%3D%2257.362%22%20viewBox%3D%220%200%2057.356%2057.362%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M70.8%2C124.445c-1.854%2C6.384-8.581%2C13.124-14.965%2C14.965L51.5%2C140.65c-6.384%2C1.854-6.384%2C4.874%2C0%2C6.715l4.334%2C1.24c6.384%2C1.841%2C13.111%2C8.581%2C14.965%2C14.965l1.24%2C4.321c1.842%2C6.4%2C4.862%2C6.4%2C6.7%2C0L80%2C163.57c1.842-6.384%2C8.581-13.124%2C14.965-14.965l4.321-1.24c6.384-1.841%2C6.384-4.862%2C0-6.715l-4.321-1.24c-6.384-1.841-13.124-8.581-14.965-14.965l-1.252-4.321c-1.841-6.4-4.862-6.4-6.7%2C0Z%22%20transform%3D%22translate(-46.716%20-115.326)%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-size: contain;
      

      @include global.mq(md) {
        bottom: 0;
        width: 57px;
        height: 57px;
        left: 42px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 28px;
      right: 8px;
      width: 53px;
      height: 58px;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22125.755%22%20height%3D%22137.762%22%20viewBox%3D%220%200%20125.755%20137.762%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M76.527%2C127.472c1.464%2C5.046%2C6.787%2C10.349%2C11.833%2C11.813l3.4.99c5.046%2C1.444%2C5.046%2C3.839%2C0%2C5.283l-3.4.99c-5.046%2C1.464-10.369%2C6.767-11.833%2C11.813l-.989%2C3.423c-1.444%2C5.046-3.839%2C5.046-5.283%2C0l-.989-3.423c-1.445-5.046-6.767-10.349-11.813-11.813l-3.423-.99c-5.046-1.444-5.046-3.839%2C0-5.283l3.423-.99c5.046-1.464%2C10.369-6.767%2C11.813-11.813l.989-3.423c1.444-5.046%2C3.839-5.046%2C5.283%2C0Z%22%20transform%3D%22translate(-50.244%20-27.806)%22%2F%3E%3Cpath%20class%3D%22a%22%20d%3D%22M100.341%2C130.024c2.988%2C10.29%2C13.832%2C21.153%2C24.121%2C24.121l6.985%2C2c10.29%2C2.988%2C10.29%2C7.856%2C0%2C10.824l-6.985%2C2c-10.29%2C2.968-21.133%2C13.832-24.121%2C24.121l-2%2C6.965c-2.968%2C10.309-7.836%2C10.309-10.8%2C0l-2.018-6.965C82.552%2C182.8%2C71.688%2C171.934%2C61.4%2C168.966l-6.965-2c-10.29-2.968-10.29-7.836%2C0-10.824l6.965-2c10.29-2.968%2C21.153-13.832%2C24.121-24.121l2.018-6.965c2.968-10.309%2C7.836-10.309%2C10.8%2C0Z%22%20transform%3D%22translate(-13.409%20-115.326)%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-size: contain;

      @include global.mq(md) {
        bottom: -20px;
        right: 20px;
        width: 125px;
        height: 138px;
      }
    }
  }

  //下部
  &__bottom {
    width: 100%;
    height: 7.57812vw;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221280%22%20height%3D%2297%22%20viewBox%3D%220%200%201280%2097%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23dff1fd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22a%22%20d%3D%22M605.322%2C1307.884c298.612%2C0%2C551.817-40.678%2C640-97h-1280C53.5%2C1267.206%2C306.71%2C1307.884%2C605.322%2C1307.884Z%22%20transform%3D%22translate(34.678%20-1210.884)%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
}