@use "foundation/global";

// Layout フッター
//--------------------------------------------------------------------------

.l-footer {
  width: 100%;
  margin-top: 100px;

  @include global.mq(md) {
    margin-top: 160px;
  }
}

.l-footer__decoration {
  position: relative;
  height: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: inherit;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%2232%22%20viewBox%3D%220%200%201280%2032%22%20width%3D%221280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22m0%200h1280v32h-1280z%22%2F%3E%3C%2FclipPath%3E%3Cg%20clip-path%3D%22url(%23a)%22%20fill%3D%22%23dff1fd%22%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(83)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(166)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(249)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(332)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(415)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(498)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(581)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(664)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(747)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(830)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(913)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(996)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(1079)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(1162)%22%2F%3E%3Cpath%20d%3D%22m0%2014.24c10.619%200%2016-3.69%2021.208-7.26s10.166-6.98%2020.292-6.98%2015.084%203.39%2020.292%207%2010.608%207.24%2021.208%207.24v17.76h-83z%22%20transform%3D%22translate(1245)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: top left -62px;
    background-size: cover;

    @include global.mq(md) {
      background-position: top center;
    }
  }
}

.l-footer__body {
  background-color: global.$color-sub02;
}

.l-footer__inner {
  padding-top: 14px;
  padding-right: 10px;
  padding-left: 10px;

  @include global.mq(md) {
    padding-top: 58px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
