@use "foundation/global";

// Layout ヘッダー
//--------------------------------------------------------------------------

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: global.$header-height-sp;
  background-color: global.$color-text-white;
  box-shadow: global.$box-shadow;
  
  @include global.mq(md) {
    height: global.$header-height-pc;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 20px;

    @include global.mq(md) {
      padding: 0 40px;
    }
  }

  &__content {
    @include global.mq(xl) {
      display: flex;
      height: inherit;
    }
  }
}

