@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------

//診察時間 お知らせ
.l-home__info {
  padding: 0 20px;

  @include global.mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

//コンセプト
.l-home__concept {
  margin-top: 60px;
}

//当院の3つのおすすめ
//診察案内
.l-home__recommend,
.l-home__medical {
  width: 100%;
  margin-top: 100px;

  @include global.mq(md) {
    margin-top: 120px;
  }
}

//スタッフブログ
.l-home__blog {
  width: 100%;
  margin-top: 100px;

  @include global.mq(md) {
    margin-top: 160px;
  }
}
