@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------

.l-home {

  //コンセプト
  &__concept {
    margin-top: 60px;
  }

  //当院の3つのおすすめ
  //診察案内
  &__recommend,
  &__medical {
    width: 100%;
    margin-top: 100px;

    @include global.mq(md) {
      margin-top: 120px;
    }
  }

  //スタッフブログ
  &__blog {
    width: 100%;
    margin-top: 100px;

    @include global.mq(md) {
      margin-top: 160px;
    }
  }
}