@use "foundation/global";

// Layout インナー
//--------------------------------------------------------------------------

.l-inner {
  width: 100%;
  max-width: global.$layout-width-inner;
  height: inherit;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}