@use "foundation/global";

// Project アーカイブ メインエリア
//--------------------------------------------------------------------------

//メインエリア
.p-archive-main__pagination {
  margin-top: 60px;
}

.p-archive-main__card {
  display: flex;
  min-height: 110px;
  height: 100%;
  margin-bottom: 20px;
  
  @include global.mq(md) {
    min-height: 153px;
  }
}
