@use "foundation/global";

// Project フューチャー
//--------------------------------------------------------------------------

.p-feature {
  position: relative;
  padding-top: 104px;
  overflow: hidden;

  @include global.mq(md) {
    padding-top: 180px;
    padding-bottom: 8.4375vw;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 33%;
      width: 102%;
      height: 725px;
      background: url(../img/common/concept-bg_pc.png) no-repeat left center / contain;
    }
  }


  margin-bottom: 100px;

  &__bg {
    position: absolute;
    top: 0;
    left: 3%;
    color: global.$color-sub02;
    width: 145vw;
    height: 81vw;
  }

  &__contents {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;

    @include global.mq(md) {
      display: flex;
      flex-direction: row;
    }
  }

  &__textarea {
    width: 100%;
    padding: 0 20px;
    
    @include global.mq(md) {
      width: 40%;
      margin-left: 40px;
      padding: 35px 0 0;
    }

    @include global.mq(lg) {
      width: 31.8%;
      margin-left: 95px;
    }
  }

  &__title-en {
    color: global.$color-main;
    @include global.fz(11,14);
    @include global.lh(1.7);
    font-weight: 700;
    letter-spacing: 1.1px;
  }

  &__title-ja {
    margin-top: 12px;
    @include global.fz(20, 28);
    @include global.lh(1.6, 1.57);
    font-weight: 700;
    letter-spacing: 1.6px;
  }

  &__text {
    margin-top: 28px;
    @include global.lh(1.71);
    font-weight: 500;
  }

  &__link-wrapper {
    margin-top: 38px;
    text-align: center;
    @include global.mq(md) {
      text-align: left;
    }
  }

  &__picture {
    display: block;
    width: 89%;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    max-height: 438px;
    height: 61.2vw;
    margin-top: 40px;
    margin-right: auto;
    @include global.mq(md) {
      width: 50%;
      height: 100%;
      margin: 0;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 90%;

    @include global.mq(md) {
      height: 438px;
    }
  }
}
