@use "foundation/global";

// Project グローバルナビ
//--------------------------------------------------------------------------

.p-global-nav {
  height: inherit;

  @include global.mq(md) {
    align-items: center;
  }

  //スタイル書き換えの都合上max-widthを使用
  @include global.mq(xl, max) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    max-height: 100vh;
    width: 100vw;
    color: global.$color-text-white;
    transition: opacity 0.3s ease;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: global.$color-sub01;
      z-index: 12;
    }
  }

  @include global.mq(md, max) {
    margin-top: global.$header-height-sp;
    padding-top: 40px;
    padding-bottom: 53px;
  }
}

  .p-global-nav__list {
    max-width: 255px;
    width: 100%;
    height: inherit;
    z-index: 14;

    @include global.mq(xl) {
      display: flex;
      align-items: center;
      max-width: 100%;
    }
  }

  .p-global-nav__item {
    height: inherit;
    @include global.fz(14, 11);
    @include global.lh(1.28, 1.7);
    font-weight: 500;
    border-top: 1px dashed global.$color-text-white;

    @include global.mq(xl) {
      font-weight: 700;
      &:not(:first-child) {
        margin-left: 24px;
      }
    }

    &:last-child {
      border-bottom: 1px dashed global.$color-text-white;
    }
  }

  .p-global-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding-top: 17px;
    padding-bottom: 14px;

    

    @include global.mq(xl) {
      position: relative;
      padding: 0;
      flex-direction: column;

      &::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%) scale(0, 1);
        width: 20px;
        height: 2px;
        background-color: global.$color-main;
        transition: transform 0.3s;
      }

      &:hover,
      &:focus {
        color: global.$color-main;
        &::after {
          transform:  translateX(-50%) scale(1, 1);
        } 

        .p-global-nav__icon {
          color: global.$color-main;
        }
      }
    }
  }

  .p-global-nav__link.is-current {
    @include global.mq(xl) {
      color: global.$color-main;

      &::after {
        transform:  translateX(-50%) scale(1, 1);
      }

      .p-global-nav__icon {
        color: global.$color-main;
      }
    }
  }

  .p-global-nav__text {
    margin-left: 14px;
    @include global.mq(xl) {
      margin-left: 0;
      margin-top: 3px;
    }
  }

  .p-global-nav__icon {
    width: 24px;
    height: 24px;
    color: global.$color-text-white;
    @include global.mq(xl) {
      color: global.$color-text-black;
    }
  }

  .p-global-nav__arrow-right {
    width: 14px;
    height: 14px;
    margin-left: auto;
    margin-right: 10px;
    color: global.$color-text-white;
  }

//アクティブ時
.p-global-nav.is-active {
  visibility: visible;
  opacity: 1;
}