@use "foundation/global";

// Project トップページ (prefix: p-home)
//--------------------------------------------------------------------------

// メインビジュアル
//--------------------------------------------------------------------------

// 診察時間 お知らせ
//--------------------------------------------------------------------------
.p-home-info {
  margin-top: 200px;
  padding: 0 20px;

  @include global.mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

//診察時間
.p-home-medical-time {
  max-width: 477px;
  width: 100%;
  margin-top: -22px;
  background-color: global.$color-text-white;
  box-shadow: global.$box-shadow;
  border-radius: 12px;

  @include global.mq(md) {
    margin-left: 63px;
  }

  &__picture {
    width: 100%;
  }
}

//お知らせ
.p-home-news {
  $this: &;
  max-width: 540px;
  width: 100%;
  margin-top: 40px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
  }

  &__title-ja {
    @include global.fz(20);
    @include global.lh(1.2);
  }

  &__title-en {
    margin-left: 16px;
    color: global.$color-main;
    @include global.fz(11, 12);
    @include global.lh(1.7);
  }

  &__past-link {
    color: global.$color-text-gray;
    @include global.fz(11, 12);
    @include global.lh(1.7);
    text-decoration: underline;
  }

  &__body {
    margin-top: 8px;
  }

  &__archive {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid global.$color-text-gray;
    border-bottom: 1px solid global.$color-text-gray;
    transition: color 0.3s;

    &:hover {
      color: global.$color-main;
      #{$this}__arrow {
        color: global.$color-main;
        transform: translate(4px, -50%);
      }
    }
  }

  &__time {
    padding-left: 6px;
    @include global.fz(12);
    @include global.lh(1.4);
    white-space: nowrap;
  }

  &__text {
    margin-left: 12px;
    padding-right: 32px;
    @include global.fz(14);
    @include global.lh(1.42);
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 14px;
    height: 14px;
    color: global.$color-text-black;
    transition: transform 0.3s;
  }
}

// 当院3つのおすすめ
//--------------------------------------------------------------------------
.p-home-recommend {
  &__title-wrapper {
    text-align: center;
  }

  &__items {
    max-width: 600px;
    margin: 38px auto 0;
    padding: 0 48px;

    @include global.mq(md) {
      display: flex;
      justify-content: center;
      max-width: 966px;
      margin: 60px auto 0;
      padding: 0 20px;
    }
  }
}

//当院3つのおすすめカード
.p-home-recommend-item {
  text-align: center;
  width: 100%;

  @include global.mq(md) {
    width: calc(33.333333% - 60px * 2 / 3);

    &:nth-child(n + 2) {
      margin-left: 60px;
    }
  }

  &:not(:first-child) {
    margin-top: 60px;

    @include global.mq(md) {
      margin-top: 0;
    }
  }

  &__title-img {
    width: 178px;

    @include global.mq(md) {
      width: 190px;
    }
  }

  &__svg {
    display: inline-block;
    margin-top: 12px;
    width: 100%;
    color: global.$color-sub02;
  }

  &__text {
    display: inline-block;
    margin-top: 22px;
    text-align: left;
    @include global.fz(14);
    @include global.lh(1.7);
  }

  &__text--color-red {
    margin: 0;
    color: global.$color-accent;
  }
}

// 診察案内
//--------------------------------------------------------------------------
.p-home-medical {
  &__title-wrapper {
    text-align: center;
  }

  &__items {
    width: 100%;
    margin-top: 40px;

    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 60px;
    }
  }

  &__text {
    padding: 20px;
    background-color: global.$color-text-white;
    @include global.fz(14);
    @include global.lh(1.71);

    @include global.mq(md) {
      margin-top: 40px;
      padding: 40px;
    }
  }
}

//診察案内カード
.p-home-medical-item {
  $this: &;
  position: relative;
  display: block;
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: global.$color-text-white;
  overflow: hidden;

  @include global.mq(md) {
    width: calc(50% - 80px / 2);
    height: 288px;
  }

  //背景
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: background-color 0.4s,transform 0.4s ease-out;
  }

  //背景マスク
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: global.$color-mask01;
    transition: background-color 0.4s ease-out;
  }

  //ホバー時
  &:hover {
    &::before {
      transform: scale(1.1, 1.1);
    }

    &::after {
      background-color: global.$color-mask02;
    }

    #{$this}__text-wrapper {
      border-color: global.$color-text-white;
    }
  } 

  //背景画像
  &:nth-of-type(1) {
    &::before {

    background-image: url(../img/webp/medical01.webp);

    @include global.browser("ie") {
      //ieの場合
      background-image: url(../img/common/medical01.jpeg);
    }
    @include global.browser("safari") {
      //safariの場合
      background-image: url(../img/common/medical01.jpeg);
    }
    }
  }

  &:nth-of-type(2) {
    &::before {

    background-image: url(../img/webp/medical02.webp);

    @include global.browser("ie") {
      //ieの場合
      background-image: url(../img/common/medical02.jpeg);
    }
    @include global.browser("safari") {
      //safariの場合
      background-image: url(../img/common/medical02.jpeg);
    }
    }

  }

  &__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: border-color 0.4s ease-out;
  }

  &__title {
    position: relative;
    padding-bottom: 23px;
    @include global.fz(20, 28);
    @include global.lh(1.15);
    font-weight: 700;
    letter-spacing: 1.6px;

    @include global.mq(md) {
      letter-spacing: 2.24px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: global.$color-text-white;
      border-radius: 3px;
    }
  }

  &__text {
    margin-top: 20px;
    @include global.fz(12, 16);
    @include global.lh(1.58, 1.75);
    font-weight: 700;
    letter-spacing: 0.96px;

    @include global.mq(md) {
      letter-spacing: 1.28px;
    }
  }
}

// スタッフブログ
//--------------------------------------------------------------------------
.p-home-blog {
  &__title-wrapper {
    width: 100%;
    text-align: center;
  }

  &__items {
    max-width: 600px;
    width: 100%;
    margin: 48px auto 0;

    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
      margin-top: 80px;

      &::after {
        content: "";
        width: calc(33.333% - 12.73% / 3);
      }
    }
  }

  &__link-wrapper {
    margin-top: 20px;
    text-align: center;

    @include global.mq(md) {
      margin-top: 10px;
    }
  }
}

//ブログカード
.p-home-blog-item {
  $this: &;
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  &:hover {
    color: global.$color-main;

    #{$this}__img {
      transform: translate(-50%, -50%) scale(1.1,1.1);
    }
  } 

  @include global.mq(md) {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: global.$box-shadow;
    width: calc(33.333% - 12.73% / 3);
    margin-bottom: 50px;
  }

  &__thumbnail {
    overflow: hidden;
    width: 40%;
    height: 24vw;
    border-radius: 10px;

    @include global.mq(md) {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 0;
      padding-top: 3/ 4.4 * 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-out;

    @include global.mq(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__body {
    position: relative;
    width: 60%;
    padding-top: 8px;
    padding-left: 10px;

    @include global.mq(md) {
      width: 100%;
      padding: 24px 24px 16px;
    }
  }

  &__cats {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;

    @include global.mq(md) {
      position: absolute;
      top: -14px;
      left: 24px;
    }
  }

  &__cat {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px 8px;
    border-radius: 10px;
    color: global.$color-text-white;
    background-color: global.$color-main;
    @include global.fz(10,11);
    @include global.lh(1.5);
    white-space: nowrap;

    @include global.mq(md) {
      border-radius: 12px;
      padding: 6px 12px;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 6px;
    @include global.fz(14, 16);
    @include global.lh(1.7,1.5);
    font-weight: 500;
    transition: color 0.3s;
  }

  &__time {
    display: inline-block;
    margin-top: 4px;
    color: global.$color-text-gray;
    @include global.fz(11);
    @include global.lh(1);
    white-space: nowrap;
  }
}