@use "foundation/global";

// Project トップページ
//--------------------------------------------------------------------------

// メインビジュアル
//--------------------------------------------------------------------------
.p-home-mv {
  position: relative;
  width: 100%;
  height: 447px;
  margin-top: 80px;
  padding: 0px 20px;

  @include global.mq(md) {
    max-width: 1920px;
    width: 90.625%;
    height: 100%;
    margin: 120px auto 0;
    padding: 0;
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    object-position: left;
    width: 100%;

    @include global.mq(md) {
      object-position: center;
    }
  }

  &__text {
    position: absolute;
    bottom: 51px;
    left: 63px;
    z-index: 1;
    width: 265px;
    height: 74.5px;

    @include global.mq(md) {
      width: 415px;
      height: 120px;
    }
  }

  //swiper-mv
  .swiper-mv {
    border-radius: 28px;
    height: 100%;
  }

  .swiper-slide::after {
    content: "";
    position: absolute;
    background: rgba(global.$color-text-black, 0.1);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .swiper-button-prev, .swiper-button-next {
    top: 49%;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;

    @include global.mq(md) {
      width: 66px;
      height: 66px;
    }

    &::after {
      visibility: hidden;
    }
  }

  .swiper-button-prev {
    left: -2px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2266%22%20height%3D%2266%22%20viewBox%3D%220%200%2066%2066%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D.b%7Bfill%3Anone%3Bstroke%3A%23c2c2c2%3Bstroke-linecap%3Around%3Bstroke-width%3A2px%3B%7D.c%7Bfilter%3Aurl(%23a)%3B%7D%3C%2Fstyle%3E%3Cfilter%20id%3D%22a%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2266%22%20height%3D%2266%22%20filterUnits%3D%22userSpaceOnUse%22%3E%3CfeOffset%20dy%3D%223%22%20input%3D%22SourceAlpha%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20result%3D%22b%22%2F%3E%3CfeFlood%20flood-opacity%3D%220.161%22%2F%3E%3CfeComposite%20operator%3D%22in%22%20in2%3D%22b%22%2F%3E%3CfeComposite%20in%3D%22SourceGraphic%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate(9%206)%22%3E%3Cg%20class%3D%22c%22%20transform%3D%22matrix(1%2C%200%2C%200%2C%201%2C%20-9%2C%20-6)%22%3E%3Ccircle%20class%3D%22a%22%20cx%3D%2224%22%20cy%3D%2224%22%20r%3D%2224%22%20transform%3D%22translate(9%206)%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22b%22%20d%3D%22M17.6%2C0V17.6H0%22%20transform%3D%22translate(40.627%2023.714)%20rotate(135)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    
    @include global.mq(md) {
      left: -33px;
    }
  }

  .swiper-button-next {
    right: -2px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2266%22%20height%3D%2266%22%20viewBox%3D%220%200%2066%2066%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3B%7D.b%7Bfill%3Anone%3Bstroke%3A%23c2c2c2%3Bstroke-linecap%3Around%3Bstroke-width%3A2px%3B%7D.c%7Bfilter%3Aurl(%23a)%3B%7D%3C%2Fstyle%3E%3Cfilter%20id%3D%22a%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2266%22%20height%3D%2266%22%20filterUnits%3D%22userSpaceOnUse%22%3E%3CfeOffset%20dy%3D%223%22%20input%3D%22SourceAlpha%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20result%3D%22b%22%2F%3E%3CfeFlood%20flood-opacity%3D%220.161%22%2F%3E%3CfeComposite%20operator%3D%22in%22%20in2%3D%22b%22%2F%3E%3CfeComposite%20in%3D%22SourceGraphic%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate(9%206)%22%3E%3Cg%20class%3D%22c%22%20transform%3D%22matrix(1%2C%200%2C%200%2C%201%2C%20-9%2C%20-6)%22%3E%3Ccircle%20class%3D%22a%22%20cx%3D%2224%22%20cy%3D%2224%22%20r%3D%2224%22%20transform%3D%22translate(9%206)%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22b%22%20d%3D%22M17.6%2C17.6V0H0%22%20transform%3D%22translate(19.818%2011.269)%20rotate(45)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  
    @include global.mq(md) {
      right: -33px;
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 28px;
    left: -8px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;

    @include global.mq(md) {
      bottom: 12px;
      left: -17px;
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

// 診察時間 お知らせ
//--------------------------------------------------------------------------
.p-home-info {
  padding: 0 20px;

  @include global.mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

//診察時間
.p-home-medical-time {
  position: relative;
  box-shadow: global.$box-shadow;
  border-radius: 12px;
  z-index: 1;
  max-width: 477px;
  width: 100%;
  margin-top: -22px;
  background-color: global.$color-text-white;
  
  @include global.mq(md) {
    margin-left: 63px;
  }

  &__picture {
    width: 100%;
  }
}

//お知らせ
.p-home-news {
  $this: &;
  max-width: 540px;
  width: 100%;
  margin-top: 40px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
  }

  &__title-ja {
    @include global.fz(20);
    @include global.lh(1.2);
  }

  &__title-en {
    margin-left: 16px;
    color: global.$color-main;
    @include global.fz(11, 12);
    @include global.lh(1.7);
  }

  &__past-link {
    color: global.$color-text-gray;
    @include global.fz(11, 12);
    @include global.lh(1.7);
    text-decoration: underline;
  }

  &__body {
    margin-top: 8px;
  }

  &__archive {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid global.$color-text-gray;
    border-bottom: 1px solid global.$color-text-gray;
    transition: color 0.3s;

    &:hover {
      color: global.$color-main;

      #{$this}__arrow {
        color: global.$color-main;
        transform: translate(4px, -50%);
      }
    }
  }

  &__time {
    padding-left: 6px;
    @include global.fz(12);
    @include global.lh(1.4);
    white-space: nowrap;
  }

  &__text {
    margin-left: 12px;
    padding-right: 32px;
    @include global.fz(14);
    @include global.lh(1.42);
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 14px;
    height: 14px;
    color: global.$color-text-black;
    transition: transform 0.3s;
  }
}

// 当院3つのおすすめ
//--------------------------------------------------------------------------
.p-home-recommend {
  &__title-wrapper {
    text-align: center;
  }

  &__items {
    max-width: 600px;
    margin: 38px auto 0;
    padding: 0 48px;

    @include global.mq(md) {
      display: flex;
      justify-content: center;
      max-width: 966px;
      margin: 60px auto 0;
      padding: 0 20px;
    }
  }
}

//当院3つのおすすめ カード
.p-home-recommend-item {
  text-align: center;
  width: 100%;

  @include global.mq(md) {
    width: calc(33.333333% - 60px * 2 / 3);
  }

  &:not(:first-child) {
    margin-top: 60px;

    @include global.mq(md) {
      margin-top: 0;
      margin-left: 60px;
    }
  }

  &__title-img {
    width: 178px;

    @include global.mq(md) {
      width: 190px;
    }
  }

  &__svg {
    display: inline-block;
    margin-top: 12px;
    width: 100%;
    color: global.$color-sub02;
  }

  &__text {
    display: inline-block;
    margin-top: 22px;
    text-align: left;
    @include global.fz(14);
    @include global.lh(1.7);
  }

  &__text--color-red {
    margin: 0;
    color: global.$color-accent;
  }
}

// 診察案内
//--------------------------------------------------------------------------
.p-home-medical {
  &__title-wrapper {
    text-align: center;
  }

  &__items {
    width: 100%;
    margin-top: 40px;

    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 60px;
    }
  }

  &__text {
    padding: 20px;
    background-color: global.$color-text-white;
    @include global.fz(14);
    @include global.lh(1.71);

    @include global.mq(md) {
      margin-top: 40px;
      padding: 40px;
    }
  }
}

//診察案内カード
.p-home-medical-item {
  $this: &;
  position: relative;
  display: block;
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: global.$color-text-white;
  overflow: hidden;

  @include global.mq(md) {
    width: calc(50% - 40px / 2);
    height: 288px;
  }

  @include global.mq(lg) {
    width: calc(50% - 80px / 2);
  }

  //背景
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: background-color 0.4s, transform 0.4s ease-out;
  }

  //背景マスク
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: global.$color-mask01;
    transition: background-color 0.4s ease-out;
  }

  //ホバー時
  &:hover {
    &::before {
      transform: scale(1.1, 1.1);
    }

    &::after {
      background-color: global.$color-mask02;
    }

    #{$this}__text-wrapper {
      border-color: global.$color-text-white;
    }
  }

  //背景画像
  &:nth-of-type(1) {
    &::before {
      background-image: url(../img/webp/medical01.webp);

      @include global.browser("ie") {
        //ieの場合
        background-image: url(../img/common/medical01.jpeg);
      }
      @include global.browser("safari") {
        //safariの場合
        background-image: url(../img/common/medical01.jpeg);
      }
    }
  }

  &:nth-of-type(2) {
    &::before {
      background-image: url(../img/webp/medical02.webp);

      @include global.browser("ie") {
        //ieの場合
        background-image: url(../img/common/medical02.jpeg);
      }
      @include global.browser("safari") {
        //safariの場合
        background-image: url(../img/common/medical02.jpeg);
      }
    }
  }

  &__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: border-color 0.4s ease-out;
  }

  &__title {
    position: relative;
    padding-bottom: 23px;
    @include global.fz(20, 28);
    @include global.lh(1.15);
    font-weight: 700;
    letter-spacing: 1.6px;

    @include global.mq(md) {
      letter-spacing: 2.24px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: global.$color-text-white;
      border-radius: 3px;
    }
  }

  &__text {
    margin-top: 20px;
    @include global.fz(12, 16);
    @include global.lh(1.58, 1.75);
    font-weight: 700;
    letter-spacing: 0.96px;

    @include global.mq(md) {
      letter-spacing: 1.28px;
    }
  }
}

// スタッフブログ
//--------------------------------------------------------------------------
.p-home-blog {
  &__title-wrapper {
    width: 100%;
    text-align: center;
  }

  &__items {
    max-width: 600px;
    width: 100%;
    margin: 48px auto 0;

    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
      margin-top: 80px;

      &::after {
        content: "";
        width: calc(33.333% - 12.73% / 3);
      }
    }
  }

  &__link-wrapper {
    margin-top: 20px;
    text-align: center;

    @include global.mq(md) {
      margin-top: 10px;
    }
  }
}

//ブログカード
.p-home-blog-item {
  $this: &;
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  @include global.mq(md) {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: global.$box-shadow;
    width: calc(33.333% - 12.73% / 3);
    margin-bottom: 50px;
  }

  &:hover {
    color: global.$color-main;

    #{$this}__img {
      transform: scale(1.1, 1.1);
    }

    @include global.mq(md) {
      #{$this}__img {
        transform: translate(-50%, -50%) scale(1.1, 1.1);
      }
    }
  }

  &__thumbnail {
    overflow: hidden;
    width: 40%;
    height: 24vw;
    border-radius: 10px;

    @include global.mq(md) {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 0;
      padding-top: 3/ 4.4 * 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-out;

    @include global.mq(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__body {
    position: relative;
    width: 60%;
    padding-top: 8px;
    padding-left: 10px;

    @include global.mq(md) {
      width: 100%;
      padding: 24px 24px 16px;
    }
  }

  &__cats {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;

    @include global.mq(md) {
      position: absolute;
      top: -14px;
      left: 24px;
    }
  }

  &__cat {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px 8px;
    border-radius: 10px;
    color: global.$color-text-white;
    background-color: global.$color-main;
    @include global.fz(10, 11);
    @include global.lh(1.5);
    white-space: nowrap;

    @include global.mq(md) {
      border-radius: 12px;
      padding: 6px 12px;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 6px;
    @include global.fz(14, 16);
    @include global.lh(1.7, 1.5);
    font-weight: 500;
    transition: color 0.3s;
  }

  &__time {
    display: inline-block;
    margin-top: 4px;
    color: global.$color-text-gray;
    @include global.fz(11);
    @include global.lh(1);
    white-space: nowrap;
  }
}
