@use "foundation/global";

// Project スタッフ紹介
//--------------------------------------------------------------------------

.p-staff {
  &__sub-title {
    border-bottom: 1px solid global.$color-text-black;
    width: 100%;
    padding-bottom: 9px;
    @include global.fz(16);
    @include global.lh(1.71);
    font-weight: 500;
  }

  &__content {
    max-width: 460px;
    width: 100%;
    margin: 40px auto 0;

    @include global.mq(md) {
      max-width: 100%;
      margin-top: 60px;
    }
  }
}


// 院長の挨拶
//--------------------------------------------------------------------------


// スタッフ紹介
//--------------------------------------------------------------------------


//スタッフ紹介カード

