@use "foundation/global";

// Project サイドバー
//--------------------------------------------------------------------------

.p-sidebar__title {
  position: relative;
  border-bottom: 1px solid global.$color-text-black;
  width: 100%;
  padding-left: 34px;
  padding-bottom: 6px;
  padding-top: 6px;
  @include global.fz(16);
  @include global.lh(1.25);
}

.p-sidebar__title-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: global.$color-text-black;
}
