<% let pageId='guidance' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main class="p-news">
        <div class="inner-block">
          診察案内ページです
        </div>
      </main>



  <%- include('../common/_footer', {pageId:pageId }) %>