<% let pageId='about' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="p-about">
  <!--メインビジュアル-->
  <section class="p-lower-mv p-lower-mv--about">
    <div class="p-lower-mv__contents">
      <h2 class="p-lower-mv__heading">当院について</h2>
      <p class="p-lower-mv__lead">ABOUT OUR CLINIC</p>
    </div>
  </section>
  <!--/メインビジュアル-->

  <!---->
</main>



<%- include('../common/_footer', {pageId:pageId }) %>