<% let pageId='about' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="p-news">
  <div class="inner-block">
    当院についてページです
  </div>
</main>



<%- include('../common/_footer', {pageId:pageId }) %>